#Lektion 5

# Användar input = genom att skriva svaret av en vis fråga som en variabel kan man sedan använda svaret för att ge output med hjälp av variabeln.
# Koden kan på detta vis interagera med svaren på frågor.
namn = input("Vad heter du?: ")

# Eftersom att det inte går att räkna mattematiska uträkningar med strings måste variabeln "ålder" konverteras till ett int(heltal) eller float(flyttal).
 #int(input) --> string till integer(heltal)
ålder = int(input("Hur gammal är du?: "))
ålder = ålder + 1

# När svaret ska vara exakt och kommer innehålla decimaler används float(flyttal).
# float(input) --> string till float(flyttal)
längd = float(input("Hur lång är du?: "))

# Här kommer svaret ifrån den första frågan "printas" så en mening bildas.
# Information används för att bilda ett påstående.
print()
print("Hej "+namn+"!")
print()
print("Du heter väll "+namn+", eller hur?")

# Det går inte att "printa" strings(str) tillsammans med integers(str/heltal)
# Vi måste därav konvertera om "ålder" till en string igen.
 #str(ålder) --> integer(heltal) till string
print("Du är "+str(ålder)+" år gammal!")

#Som i förra exemplet kommer en konvertering att behövas för att "printa" texten.
 #str(längd) --> float(flyttal) till string
print("Du är "+str(längd)+" cm lång!")
